/* xxxxxxxxxxxxxxxxxxxxx */
/* ------ CLASSIC ------ */
/* xxxxxxxxxxxxxxxxxxxxx */

/* @font-face {
    font-family: title;
    src: url(./fonts/Dancing_Script/static/DancingScript-Regular.ttf);
} */

/* the container of the caroussel */
#linkClassic{
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(68, 68, 68));
    padding-bottom: 4%;
}
#linkClassic h1{
    font-size: calc(0.9rem + 2vw);
    text-align: center;
    padding: 2% 0px 6% 0px;
    color: beige;
}

#classic{
    display: flex;
    overflow: hidden;

    margin: auto;

    border: 1px solid rgb(127, 127, 127);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.346);
}

/* each div with a background-image */
#classic div{
    position: absolute;
}

#classic, #classic div{

    /* you can change the dimensions */
    /* ----------------------------- */
    width: 88vw;
    aspect-ratio: 3/1.5;

    /* height: calc(140vw / 3); */
    max-width: 1300px;

} 

/* the title superposed */
/* #title{
    position: absolute;
    z-index: 3;
    opacity: 1;
    font-family: title, sans-serif;
    font-size: 4vw;
    color: rgb(241, 217, 175);
    padding-top: calc(0.4px + 1vw);
    padding-left: calc(18px + 1vw);
    text-shadow: 2px 2px 2px black;
} */

/* the linear gradient underneath the title */
/* #linearGradient{
    position: absolute;
    width: 50vw;
    height: 100%;
    z-index: 2;
    background: linear-gradient(160deg, rgb(0, 0, 0),  rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
} */
