#section_contact{
    width: 100vw;

    background: black;
}
#contact_container{
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    margin: auto;
}
#contact_container h1{
    font-family: myfont, serif;
    font-size: calc(0.9rem + 2vw);

}
#contact_container p, #contact_container a{
    margin-bottom: 2%;

    font-family: mytext, serif;
    letter-spacing: 2px;

    color: beige;
}

#idee{
    margin-top: 8%;
    font-size: calc(1.5rem + 1.2vw);
}
#projet{
    margin-top: -8px;
    font-size: calc(1.5rem + 1.2vw);
}
#letstalk{
    margin-top: -4px;
    font-size: calc(1.5rem + 1.2vw);
}
#contact{
    margin-top: -6px;
    padding-bottom: 10%;

    font-size: calc(1.5rem + 1.2vw);
    text-decoration-thickness: 1px;
    text-underline-offset: 22%;
}
#idee, #projet, #letstalk, #contact{
    transform-origin: top;
}