@font-face {
    font-family: myfont;
    src: url(./assets/fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf);
}
@font-face {
    font-family: mytext;
    src: url(./assets/fonts/Lora/static/Lora-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
}
#container_up{
    z-index: 0;
    position: absolute;

    width: 100vw;
    height: 65vh;

    background: linear-gradient(180deg, rgb(37, 37, 37), rgb(0, 0, 0));
}
#container_down{
    z-index: 1;
    position: absolute;

    width: 100vw;
    height: 35vh;
    transform: translateY(65vh);

    /* background: url(./assets/bacgrounds/ground_3.png) repeat-x;
    background-position: bottom;
    opacity: 0.5; */
}
header{
    width: 100vw;
    height: 100vh;
}
#section_dev h1, #linkClassic h1, #sites h2{
    font-family: myfont, serif;
}
.chiffres{
    margin-left: 3px;
    font-family: mytext, serif;
}
