#section_dev{
    width: 100vw;

    color: beige;
    background-color: black;
}
#sites{
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
}
.site{
    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 88vw;
    max-width: 1300px;
    aspect-ratio: 10/3;

    margin: 4% 0px;
    padding: 14px 0px;

    border-radius: 5px;
} 
.img_site{
    width: 50%;
    height: 100%;

    border: 1px solid rgba(94, 94, 94, 0.492);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.346);
    border-radius: 5px;
}
.description_site{
    width: 50%;
    height: 100%;

}
#site_2{
    flex-direction: row-reverse;
}

/* images */
#site_1 .img_site{
    background: url(./assets/bacgrounds/bonne-conduite.jpg) center/cover no-repeat;
}
#site_2 .img_site{
    background: url(./assets/bacgrounds/latelier.jpg) center/cover no-repeat;
}
#site_3 .img_site{
    background: url(./assets/bacgrounds/carousselambra.jpg) center/cover no-repeat;
}

/* texts */
#section_dev h1, #linkClassic h1, #sites h2{
    font-family: myfont, serif;
}
#section_dev h1{
    font-size: calc(0.9rem + 2vw);
    text-align: center;
    padding: 10px 0px 30px 0px;
}
.date{
    font-family: mytext, serif;
}
#sites h2{
    font-size: calc(0.2rem + 1.8vw);
}
#sites p{
    font-family: mytext, serif;
    font-size: calc(0.3rem + 1.2vw);
    text-align: justify;
}
.linksite{
    display: block;
    margin-top: 3%;

    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

#site_1 .description_site, #site_3 .description_site{
    padding: 0px 0px 0px 20px;
}
#site_2 .description_site p, #site_2 .description_site h2{
    padding: 0px 20px 0px 0px;
    text-align: right;
}
.description_site span{
    font-weight: bold;
}
